<h1><%= @question.title %></h1>
<h3 class="author_links"><a href='/users/<%=@question.user.id%>'><%= @question.user.username %></a></h3>
<p id="body"><%= @question.body %></p>
<p id="date">Posted: <%= @question.created_at %></p>

  <div class="question-vote-show">
    <% if logged_in? %>
        <form class="vote-form-question" action="/questions/<%=@question.id%>/votes" method="post" data-question-id="<%=@question.id%>">
            <input type="hidden" name="vote" value="<%=@question.id%>">
            <input type="submit" value="Vote" class="button">
          </form>
    <% end %>

    <div class="vote-count"><%=@question.votes.count %></div> votes
  </div>

    <%if logged_in?%>
      <a id="question-get-comment" data-question-id="<%=@question.id%>" href="/questions/<%=@question.id%>/comments">Comment</a>
      <div id="question-comment-form-show"></div>
    <%end%>

  <div id="question-comments-show">
    <%@question.comments.each do |comment|%>
      <p><%=comment.comment%>,<a href='/users/<%=comment.user.id%>'> <%=comment.user.username%></a></p>
      <p><%=comment.created_at%></p>
    <%end%>
  </div>

  <%if logged_in?%>
    <a id="answer-get-form" data-question-id="<%=@question.id%>" href="/questions/<%=@question.id%>/answers">Post an Answer</a>
    <div id="answer-form-show"></div>
  <%end%>

<div class="answers-post" >
  <%@answers.reverse.each do |answer|%>
    <div class="whole-answer">
    <div id="answers-post-box">
      <p><%=answer.answer%> <a href='/users/<%=answer.user.id%>'><%=answer.user.username%></a></p>
      </p>Written at: <%=answer.created_at%></p>
    </div>

    <% if answer.is_best? == 'true' %>
      <p><%= "BEST Answer!!!!" %><p>
    <% end %>

    <% if logged_in? %>
      <form class="vote-form" action="/answers/<%=answer.id%>/votes" method="post" data-answer-id="<%=answer.id%>">
        <input type="hidden" name="vote" value="<%=answer.id%>">
        <input type="submit" value="Vote Answer" class="button">
      </form>
    <% end %>

    <% if logged_in? && current_user.id == answer.question.user.id %>
      <form class="best-answer" action="/answers/<%=answer.id%>/best" method="post">
        <input type="hidden" name="answer_id" value="<%=answer.id%>">
        <input type="submit" value="Best Answer"class="button">
      </form>
    <% end %>

    <div class="vote-count"><%=answer.votes.count %></div> votes

    <div id="comments-show">
      <%answer.comments.each do |comment|%>
        <p> * <%=comment.comment%> </p>
      <%end%>

      <%if logged_in?%>
        <a id="answer-get-comment" data-answer-id="<%=answer.id%>" href="/answers/<%=answer.id%>/comments">Comment on Answer</a>
        <div id="answer-comment-form-show"></div>
      <%end%>
    </div>
    </div>

  <%end%>
</div>
</div>

<% if @errors %>
  <% @errors.each do |error_message| %>
    <p><%= error_message %></p>
  <% end %>
<% end %>

<div id="comments-show">
  <% @comments.each do |comment| %>
    <div class="comments">
      <p><%=comment.comment%></p>
      <p><a href='/users/<%=comment.user.id%>'><%=comment.user.username%></a></p>
      <p><%=comment.created_at%></p>
      -------------
      <br>
    </div>
  <%end%>
</div>

