
<% if @errors %>
    <%=@errors %>
<% end %>

  <div class="answers-post" >
    <%@answers.each do |answer|%>
      <div class="one-answer">
        <h2><%=answer.answer%></h2>
      <h5><%=answer.user.username%></h5>
      <p><%=answer.created_at%></p>
    <% if answer.is_best? == 'true' %>
      <p><%= "BEST Answer!!!!" %><p>
    <% end %>


        <% if logged_in? %>
          <form class="vote-form" action="/answers/<%=answer.id%>/votes" method="post" data-answer-id="<%=answer.id%>">
            <input type="hidden" name="vote" value="<%=answer.id%>">
            <input type="submit" value="Vote" class="button">
          </form>
        <% end %>

        <% if logged_in? && current_user.id == answer.question.user.id %>
          <form class="best-answer" action="/answers/<%=answer.id%>/best" method="post">
            <input type="hidden" name="answer_id" value="<%=answer.id%>">
            <input type="submit" value="Best Answer"class="button">
          </form>
        <% end %>

        <div class="vote-count"><%=answer.votes.count %></div> votes
        <div>###############################</div>
      </div>
    <%end%>
  </div>
