<div class="answers-post" >
  <%@answers.each do |answer|%>
    <p><%=answer.answer%></p>
    <p><%=answer.user.username%></p>
    <p><%=answer.created_at%></p>
      <%answer.comments.each do |comment|%>
      <p> * <%=comment.comment%> <p>
        <%end%>
    <form action="/answers/<%=answer.id%>/comments" method="post">
      <input type="hidden" name="comment" value="<%=answer.id%>">
      <input type"text" name="comment">
      <input type="submit" value="Post Your Comment" class="button">
    </form>

  <%end%>
</div>


<div class="answers-post" >
  <%@answers.each do |answer|%>
    <div class="one-answer">
      <h2><%=answer.answer%></h2>
    <h5><%=answer.user.username%></h5>
    <p><%=answer.created_at%></p>

      <% if logged_in? %>
        <form class="vote-form" action="/answers/<%=answer.id%>/votes" method="post" data-answer-id="<%=answer.id%>">
          <input type="hidden" name="vote" value="<%=answer.id%>">
          <input type="submit" value="Vote" class="button">
        </form>
      <% end %>
     <div id="vote-count"><%=answer.votes.count %></div> votes
<div>###############################</div>
    </div>

  <%end%>
</div>

<% if @errors %>
  <% @errors.each do |error_message| %>
    <p><%= error_message %></p>
  <% end %>
<% end %>
